
h1 {
	text-align: center;
	color: #fdfdfd;
	font-family: 'Coustard', serif;
}

body {
	background-image: url("Star-Wars-Pictures/Stars-background.png");
}

.char {
	flex-direction: row;
	justify-content: center;
	display: flex;
    min-width: 100vh;
    margin: 0px auto;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    max-width: 100px;
    width: 95%;
    border-spacing: 10px;
}

#luke {
	background-image: url("Star-Wars-Pictures/Luke.jpg");
}

#leia {
	background-image: url("Star-Wars-Pictures/Princess Leia.png");
}

#han {
	background-image: url("Star-Wars-Pictures/Han Solo.jpg");
}

#darth {
	background-image: url("Star-Wars-Pictures/Darth Vadar.jpg");
}

#yoda {
	background-image: url("Star-Wars-Pictures/Yoda.jpeg");
}

#largelogo {
	background-image: url("Star-Wars-Pictures/starwars-logo.png");
}

#r2d2 {
	background-image: url("Star-Wars-Pictures/R2D2.jpg");
}

#boba {
	background-image: url("Star-Wars-Pictures/Boba Fett.jpeg")
}

#chewy {
	background-image: url("Star-Wars-Pictures/Chewbacca.jpg");
}

#jabba {
	background-image: url("Star-Wars-Pictures/Jabba The Hutt.jpeg");
}

#c3po {
	background-image: url("Star-Wars-Pictures/C3PO.jpg");
}

.container {
	width: 400px;
	height: 400px;
	background-position: center;
	background-size: cover;
	color: #fdfdfd;
	float: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 0;
	margin: 2px;
}

.swlogo {
	width: 700px;
	height: 200px;
	display: flex;
	justify-content: center;
	padding: 100px;
	margin: 0 auto;
	overflow: hidden;
	background-position: center;
	border-spacing: 100px;
	background-size: cover;
	float: center;
	flex-direction: row;
	align-content: center;
}

@media screen and (max-width: 845px) {       

    .char img {
		display: block;
		width: 100%;
		height: auto;
    }

#content > div {
	border-bottom: 1px solid #f85f73;
	border-radius: 2px;
	padding: 5px 0;
	margin: 0 20px;
}

.modal {
	background: #9896f1;
	color: #fdfdfd;
	text-align: center;
}

}







